<html>
<head>
    <link rel="stylesheet" href="../public/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">

    <script src="../public/lib/jquery/dist/jquery.js"></script>
    <script src="../public/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>


<body>


    <div align="left">
        <img src="<%=user.image%>">
        <br>
        <%=user.name%>
        <br>
        <%=user.email%>
    </div>

</body>
</html>